In [1]:
# import as follows:
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as pltfrom sklearn.preprocessing 
# import StandardScalerfrom sklearn.ensemble 
# import RandomForestClassifieri 

# specify the file path to it to import the CSV file into Python using read_csv() from pandas:
# df = pd.read_csv('train.csv')
# df_test = pd.read_csv('test.csv')Â  

# value = 0 tells it to fill NaN with zero, and inplace = True will make the changes permanent without making a copy of the object.
# df.fillna(0, inplace=True)
# df_test.fillna(0, inplace=True)

# to select rows and columns by number, in the order that they appear in the DataFrame
# X_train = df.iloc[:, [2,5,6,7,9]].values
# y_train = df.iloc[:, 1:2].values
# X_test = df_test.iloc[:, [1,4,5,6,8]].values

# Fit to data, then transform:
# sclr = StandardScaler()
# X_train = sclr.fit_transform(X_train)
# X_test = sclr.fit_transform(X_test)

# i use averaging to improve the predictive accuracy and control over-fitting:
# classifier = RandomForestClassifier(max_depth=3, criterion='entropy', n_estimators=10, min_samples_leaf=25, random_state=0, min_samples_split=3) 

# the predict() method provides corresponding predictions:
# classifier.fit(X_train, y_train)
# y_pred = classifier.predict(X_test)

# Combine panda objects along a specific axis:
# result = pd.concat([PassengerId, predicted], axis=1)
# Writen't row names:
# result.to_csv('result.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Titanic/train.csv')
df.fillna(0, inplace=True)
df_test = pd.read_csv('Titanic/test.csv')
df_test.fillna(0, inplace=True)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S

In [3]:
X_train = df.iloc[:, [2,5,6,7,9]].values
y_train = df.iloc[:, 1:2].values
X_test = df_test.iloc[:, [1,4,5,6,8]].values

In [4]:
from sklearn.preprocessing import StandardScaler
sclr = StandardScaler()
X_train = sclr.fit_transform(X_train)
X_test = sclr.fit_transform(X_test)

In [5]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(max_depth=3, criterion='entropy', n_estimators=10, min_samples_leaf=25,
                                    random_state=0, min_samples_split=3)

In [6]:
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [7]:
y_pred
PassengerId = df_test.iloc[:, [0]]
predicted = pd.DataFrame(y_pred)
predicted.columns = ['Survived']
result = pd.concat([PassengerId, predicted], axis=1)
result.to_csv('result.csv', index=False)