In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
import operator

In [34]:
dataset = datasets.load_iris()

X = dataset.data
y = dataset.target
y = y.reshape(-1,1)

In [35]:
combined_data = np.concatenate((X,y), axis=1)
combined_data[:5]

array([[5.1, 3.5, 1.4, 0.2, 0. ],
       [4.9, 3. , 1.4, 0.2, 0. ],
       [4.7, 3.2, 1.3, 0.2, 0. ],
       [4.6, 3.1, 1.5, 0.2, 0. ],
       [5. , 3.6, 1.4, 0.2, 0. ]])

In [36]:
fn = dataset.feature_names
fn.append('class')
fn

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)',
 'class']

In [37]:
df = pd.DataFrame(combined_data, columns=fn)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [38]:
data = df

## Euclidean distance

In [39]:
def euclideanDistance(data1, data2, length):
    distance = 0
    for x in range(length):
        distance += np.square(data1[x]-data2[x])
    return np.sqrt(distance)

## Defining the KNN model

In [78]:
def knn(trainingSet, test_instance, k):
    distances = {}
    sort = {}
    
    length = test_instance.shape[1]
    
    # Считаем расстояние между каждым сэмплам в трейн сете и нашим тестовым сэмплам
    for x in range(len(trainingSet)):
        dist = euclideanDistance(test_instance, trainingSet.iloc[x], length)
        distances[x] = dist[0]
    
    #sorting them in the ascending order
    sorted_d = sorted(distances.items(), key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(sorted_d[x][0])

    classVotes = {}
    for x in range(len(neighbors)):
        response = trainingSet.iloc[neighbors[x]][-1]
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1

    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    return (sortedVotes[0][0], neighbors)

In [72]:
classes = dataset.target_names
def print_res(result):
    if result==0.0:
        print(classes[0])
    elif result==1.0:
        print(classes[1])
    elif result==2.0:
        print(classes[2])

In [73]:
testSet = [[6.7, 3.1, 8.6, 2.4]] 
test = pd.DataFrame(testSet)

## Step 2

In [79]:
k = 3

result, neighbors = knn(data, test, k)
print_res(result)

virginica