In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [21]:
df = pd.read_csv('../../datasets/labData-mlr.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [22]:
df = df.replace(0.0, np.nan)
df = df.dropna()

In [23]:
m,n = df.shape
n -= 1

In [24]:
encoder = LabelEncoder()
df['State'] = encoder.fit_transform(df['State'])
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [25]:
X_orig = df.iloc[:, :-1].values
y_orig = df.iloc[:,  -1].values

In [26]:
mainArr = []
for i in range(n):
    arr = {
        'id': 'x'+str(i),
        'mean': 0,
        'max': 0,
        'min': 0
    }
    mainArr.append(arr)

## y = b0 + b1*x1 + b2*x2 + ... + bn*xn

In [27]:
for i in range(n):
    x = []
    for j in range(m):
        x.append(X_orig[j][i])
    mainArr[i]['mean'] = np.mean(x)
    mainArr[i]['x'] = np.linspace(np.min(x)-100, np.max(x)+100, 1000)

In [28]:
y_mean = y_orig.mean()

In [29]:
b0 = []
for i in range(n):
    numerator = 0
    denominator = 0
    for j in range(m):
        numerator += (X_orig[j][i] - mainArr[i]['mean'])*(y_orig[j] - y_mean)
        denominator += (X_orig[j][i] - mainArr[i]['mean']) ** 2
    mainArr[i]['b'] = numerator/denominator
    b0.append(mainArr[i]['b']*mainArr[i]['mean'])
b0 = y_mean - np.mean(b0)

In [33]:
y = b0
for i in range(n):
    y += mainArr[i]['b']*mainArr[i]['x']